.square[color="black"] {
  background-color: black;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: powderblue;
}

.victoryModal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.victoryMessage {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.game-close {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.moveCount {
  margin-top: 10px;
}

.game-reset {
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-win {
  display: block;
}