input { 
	border: none;
	width: 100%;
}

[colored='true'] {
	background-color: #E6E6FA;
}

input[readonly="readonly"] {
	background-color: #E6E6FA;	
}

#unit_table_end td {
	border: 1px solid #dee2e6;	
}

#enchant_stats td, #unit_stat_others td {
	border-right: 1px solid #dee2e6;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
